@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {

  --font-brand: "Poppins", sans-serif;
  --color-brand-beige: #F5E8D3;
  --color-brand-brown: #664C3E;
  --color-brand-brownDark: #553B2D;
  --color-brand-brownLight: #8D6E63;
  --color-brand-gold: #C8A165;
}

/* Animación para cuando el cartel aparece */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación para cuando el cartel se va */
@keyframes slideUpFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Clases que vamos a usar en React */
.toast-enter {
  animation: slideDownFade 0.4s ease-out forwards;
}

.toast-leave {
  animation: slideUpFade 0.3s ease-in forwards;
}

/* Animaciones producto al carrito */
@keyframes flyX {
  0% {
    left: var(--start-left);
  }

  100% {
    left: 85vw;
  }
}

@keyframes flyY {
  0% {
    top: var(--start-top);
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  20% {
    top: calc(var(--start-top) - 100px);
    /* Salta hacia arriba primero */
    transform: scale(1.2) rotate(15deg);
    opacity: 1;
  }

  100% {
    top: 20px;
    transform: scale(0.1) rotate(180deg);
    /* Se encoge y gira mientras vuela */
    opacity: 0.3;
  }
}

.flying-ball {
  position: fixed;
  z-index: 9999;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  /* Mezclamos dos timelines diferentes para curvar el vuelo de la foto */
  animation:
    flyX 0.8s linear forwards,
    flyY 0.8s cubic-bezier(0.3, 0, 0.8, 1) forwards;
}

/* Animación para que el carrito se agrande */
@keyframes cartBump {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.3) translateY(-3px);
    color: #4CAF50;
  }

  /* Crece y se pone verde un instante */
  100% {
    transform: scale(1);
  }
}

.animate-cart-bump {
  animation: cartBump 0.4s ease-out;
}

/*La animación del +1 flotante */
@keyframes floatUpFade {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-15px) scale(1.2);
  }
}

.animate-fade-up {
  position: absolute;
  animation: floatUpFade 0.5s ease-out forwards;
}

/* Hover para el botón del Hero */
.hero-btn {
  transition: transform 0.35s ease-out, box-shadow 0.35s ease-out;
}

.hero-btn:hover {
  transform: scale(1.06);
  box-shadow: 0 0 25px rgba(200, 161, 101, 0.5), 0 10px 30px rgba(0, 0, 0, 0.15);
}