@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {

    --font-brand: "Poppins", sans-serif;
    --color-brand-beige: #F5E8D3;
    --color-brand-brown: #664C3E;
    --color-brand-brownDark: #553B2D;
    --color-brand-brownLight: #8D6E63;
    --color-brand-gold: #C8A165;
}

/* Animación para cuando el cartel aparece */
@keyframes slideDownFade {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Animación para cuando el cartel se va */
@keyframes slideUpFade {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}

/* Clases que vamos a usar en React */
.toast-enter {
    animation: slideDownFade 0.4s ease-out forwards;
}

.toast-leave {
    animation: slideUpFade 0.3s ease-in forwards;
}